<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001109023551-vr5vlv0bqpdcuk4vhosr309hltq1phmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001109023551-vr5vlv0bqpdcuk4vhosr309hltq1phmv</string>
	<key>API_KEY</key>
	<string>AIzaSyAA7Ojqh0PPONO6wT6TcO3I8l3cnE4cNWs</string>
	<key>GCM_SENDER_ID</key>
	<string>1001109023551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Marissa.cse438FinalProject</string>
	<key>PROJECT_ID</key>
	<string>bayley-438final</string>
	<key>STORAGE_BUCKET</key>
	<string>bayley-438final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001109023551:ios:369f5e28fb91a40fedc18a</string>
	<key>DATABASE_URL</key>
	<string>https://bayley-438final.firebaseio.com</string>
</dict>
</plist>